*.zip
*env
*tar
gz
*bz2
*sif
*.out
*.sub
*.def
envs
env.yaml
.dockerignore
EDesign_howto_instructions.txt
EDesignTools-MKL.tar.gz
EDesign_p.tar.gz
e1.yaml
sharedDirectory/Glucose_oxidase1.yaml
Templatized_control_file/parm.sh
Templatized_control_file/molfile_to_params.py
sharedDirectory/FAD.fa.params
sharedDirectory/Glucose_oxidase.pdb
sharedDirectory/SUB.fa.params
